table {
    font-size: 75%;
  }

tbody td:nth-child(2),
tbody td:nth-child(3),
thead th:nth-child(2),
thead th:nth-child(3){
    text-align: right;
}

tbody th:nth-child(1),
tbody td:nth-child(4),
thead th:nth-child(1),
thead th:nth-child(4){
    text-align: left;
}

table{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    padding: .5em;
}

tfoot{
    border-top: 2px solid black;
}

tbody tr:nth-child(odd){
    background-color: lightgray;
}

th, td{
    padding: .5em;
}

caption{
    padding: .5em;
}


